.tpoint-procedure-frame {
  box-sizing: border-box;
  text-align: center;
  background-color: #fefae6;
  margin: 1rem 0 2rem;
  padding: 1.3rem 2rem 2rem;
}

.tpoint-procedure-frame.tpoint-procedure-frame--line {
  padding: 0;
  background-color: none;
  margin: 0 0 1rem;
}

.tpoint-modal__kikancampaign-info + .tpoint-procedure-frame {
  margin-top: -0.5rem;
}

.tpoint-procedure-frame__message {
  color: #13131e;
}

.tpoint-procedure-frame__message.tpoint-procedure-frame__message--large {
  font-weight: bold;
  font-size: 1.3rem;
}

.tpoint-procedure-frame__message > em {
  font-family: Arial, sans-serif;
  margin-right: 0.2rem;
  font-size: 2.1rem;
  vertical-align: -0.1rem;
}

.tpointguide-unfinished__process-btn + .tpoint-procedure-frame__message {
  margin: 1.2rem 0 1.8rem;
}

.tpoint-procedure-frame__badge::before {
  vertical-align: -8%;
}

.tpoint-procedure-frame__btn-wrap {
  width: 29.414%;
  margin: 1.2rem auto 1.4rem;
}

#column-main #title-yoyaku {
  padding: 0;
  height: 39px;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/restaurant/yoyaku/icons_yoyaku_weekly.gif?1628138644') no-repeat 0 0;
}

.rstdtl-top-main-photos {
  margin: 2rem 0 2.5rem;
}

.rich-hitosara {
  margin-top: 8px;
  padding: 0 10px 0 4px;
}

.rich-hitosara a {
  display: block;
  float: right;
  text-align: left;
  white-space: nowrap;
}

.rich-hitosara a span {
  display: block;
  float: left;
  cursor: pointer;
  padding: 1px 0 0 2px;
  font-size: 92%;
  white-space: nowrap;
}

.rich-hitosara a span.logo {
  display: block;
  float: left;
  cursor: pointer;
  margin-top: 1px;
  width: 46px;
  height: 12px;
  overflow: hidden;
  font-size: 1px;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/restaurant/image/tieup_logo_hitosara_s_re1.png?1628138635') no-repeat left center;
}

.rstdtl-top-kodawari {
  margin: 2rem 0 3rem;
}

.rstdtl-top-kodawari__item {
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.rstdtl-top-kodawari__target {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #e8e6e4;
  border-radius: 2px;
  width: 159px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(56, 44, 26, 0.1);
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
  margin-right: 0.8rem;
}

.rstdtl-top-kodawari__target.rstdtl-top-kodawari__target--l {
  width: 212px;
}

.rstdtl-top-kodawari__target:last-child {
  margin-right: 0;
}

.rstdtl-top-kodawari__target:hover {
  text-decoration: none;
  border-color: #ff9600;
}

.rstdtl-top-kodawari__target:hover .rstdtl-top-kodawari__photo {
  opacity: 0.8;
}

.rstdtl-top-kodawari__contents {
  display: block;
  position: relative;
}

.rstdtl-top-kodawari__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  -webkit-transform: translate(-2rem, 0.9rem) rotate(-45deg);
  -moz-transform: translate(-2rem, 0.9rem) rotate(-45deg);
  -ms-transform: translate(-2rem, 0.9rem) rotate(-45deg);
  -o-transform: translate(-2rem, 0.9rem) rotate(-45deg);
  transform: translate(-2rem, 0.9rem) rotate(-45deg);
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--drink {
  background-color: #cc984a;
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--space {
  background-color: #55a3a3;
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--food {
  background-color: #b3b632;
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--service {
  background-color: #e89d13;
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--chef {
  background-color: #de6441;
}

.rstdtl-top-kodawari__label.rstdtl-top-kodawari__label--other {
  display: none;
}

.rstdtl-top-kodawari__photo {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
  overflow: hidden;
  background: #f4f4f4;
}

.rstdtl-top-kodawari__photo > img {
  display: block;
  width: 100%;
  height: auto;
}

.rstdtl-top-kodawari__target .rstdtl-top-kodawari__photo {
  height: 157px;
}

.rstdtl-top-kodawari__target.rstdtl-top-kodawari__target--l .rstdtl-top-kodawari__photo {
  height: 210px;
}

.rstdtl-top-kodawari__title {
  padding: 12px 10px;
  color: #463f2d;
}

.rstdtl-top-kodawari__modal {
  display: block;
}

.rstdtl-top-kodawari__modal.is-hidden {
  display: none;
}

.rstdtl-top-kodawari__modal-contents {
  display: block;
}

.rstdtl-top-kodawari__modal-contents.is-hidden {
  display: none;
}

.rstdtl-top-kodawari__modal-contents-inner {
  padding: 3.6rem;
}

.rstdtl-top-kodawari__modal-contents-inner:before,
.rstdtl-top-kodawari__modal-contents-inner:after {
  display: block;
  overflow: hidden;
  content: '';
}

.rstdtl-top-kodawari__modal-contents-inner:after {
  clear: both;
}

.rstdtl-top-kodawari__modal-target {
  position: absolute;
  cursor: pointer;
  padding: 0;
  outline: 0;
  border: none;
  width: 50%;
  height: calc(100% - 6.4rem);
  min-height: 3.2rem;
  background: none;
  top: 3.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.rstdtl-top-kodawari__modal-target > i {
  display: none;
}

.rstdtl-top-kodawari__modal-target.rstdtl-top-kodawari__modal-target--prev {
  left: -25%;
}

.rstdtl-top-kodawari__modal-target.rstdtl-top-kodawari__modal-target--prev::before {
  margin-left: -3rem;
  font-family: 'Tabelog Glyph';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  content: '\f6b8';
}

.rstdtl-top-kodawari__modal-target.rstdtl-top-kodawari__modal-target--next {
  right: -25%;
}

.rstdtl-top-kodawari__modal-target.rstdtl-top-kodawari__modal-target--next::after {
  margin-left: 3rem;
  font-family: 'Tabelog Glyph';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  content: '\f6b9';
}

.rstdtl-top-kodawari__modal-target::before,
.rstdtl-top-kodawari__modal-target::after {
  position: absolute;
  top: 160px;
  left: 50%;
  vertical-align: middle;
  line-height: 1;
  color: #fff;
  font-size: 3rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rstdtl-top-kodawari__modal-target.is-disabled {
  cursor: default;
}

.rstdtl-top-kodawari__modal-target.is-disabled::before,
.rstdtl-top-kodawari__modal-target.is-disabled::after {
  color: #b4b4b4;
}

.rstdtl-top-kodawari__modal-target:hover::before,
.rstdtl-top-kodawari__modal-target:hover::after {
  color: #ff9600;
}

.rstdtl-top-kodawari__modal-target:hover.is-disabled::before,
.rstdtl-top-kodawari__modal-target:hover.is-disabled::after {
  color: #b4b4b4;
}

.rstdtl-top-kodawari__modal-photo {
  float: left;
  width: 320px;
  height: 320px;
}

.rstdtl-top-kodawari__modal-textbox {
  float: right;
  width: calc(100% - 320px - 1.5rem);
  vertical-align: top;
}

.rstdtl-top-kodawari__modal-label {
  display: inline-block;
  float: left;
  margin-right: 15px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  width: 5rem;
  height: 2.4rem;
  font-size: 1rem;
  line-height: 2.4rem;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--drink {
  background-color: #cc984a;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--space {
  background-color: #55a3a3;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--food {
  background-color: #b3b632;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--service {
  background-color: #e89d13;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--chef {
  background-color: #de6441;
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--other {
  display: none;
}

.rstdtl-top-kodawari__modal-title-wrap {
  border-bottom: 1px solid #d2d2d2;
  color: #13131e;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
}

.rstdtl-top-kodawari__modal-title-wrap:before,
.rstdtl-top-kodawari__modal-title-wrap:after {
  display: block;
  overflow: hidden;
  content: '';
}

.rstdtl-top-kodawari__modal-title-wrap:after {
  clear: both;
}

.rstdtl-top-kodawari__modal-title {
  float: left;
  font-weight: bold;
  width: -webkit-calc(100% - 6.5rem);
  width: -moz-calc(100% - 6.5rem);
  width: calc(100% - 6.5rem);
}

.rstdtl-top-kodawari__modal-label.rstdtl-top-kodawari__modal-label--other + .rstdtl-top-kodawari__modal-title {
  width: 100%;
}

.rstdtl-top-kodawari__modal-comment {
  line-height: 1.8;
}

.rstdtl-top-photo {
  margin-top: 2rem;
}

.rstdtl-top-photo__list {
  display: block;
  width: 100%;
}

.rstdtl-top-photo__item {
  display: inline-block;
  width: 158px;
  margin-right: 0.5rem;
}

.rstdtl-top-photo__item:last-child {
  margin-right: 0;
}

.rstdtl-top-photo__photo {
  border: 1px solid transparent;
  width: 158px;
  height: 158px;
  box-sizing: border-box;
  overflow: hidden;
}

.rstdtl-top-photo__photo:hover {
  border-color: #ff9600;
}

.rstdtl-top-photo__photo > a {
  display: block;
}

.rstdtl-top-photo__photo > a:hover > img {
  opacity: 0.8;
}

.rstdtl-top-postphoto {
  margin: 2rem 0 3rem;
}

.rstdtl-top-postphoto__heading {
  margin-bottom: 2rem;
}

.rstdtl-top-postphoto__list {
  display: block;
  width: 100%;
  font-size: 0;
}

.rstdtl-top-postphoto__list:before,
.rstdtl-top-postphoto__list:after {
  display: block;
  overflow: hidden;
  content: '';
}

.rstdtl-top-postphoto__list:after {
  clear: both;
}

.rstdtl-top-postphoto__list.is-hidden {
  display: none;
}

.rstdtl-top-postphoto__item {
  display: inline-block;
  width: 125px;
  margin-right: 8.75px;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-bottom: 0.8rem;
}

.rstdtl-top-postphoto__item:nth-of-type(5n) {
  margin-right: 0;
}

.rstdtl-top-postphoto__item.is-hidden {
  display: none;
}

.rstdtl-top-postphoto__photo {
  display: block;
  border: 1px solid transparent;
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f4f4f4;
}

.rstdtl-top-postphoto__photo:hover {
  border-color: #ff9600;
}

.rstdtl-top-postphoto__photo > a {
  display: block;
}

.rstdtl-top-postphoto__photo > a:hover > img {
  opacity: 0.8;
}

.rstdtl-top-postphoto__more-link-wrap {
  margin-top: 0.5rem;
}

.rstdtl-top-postphoto__more-link-wrap:before,
.rstdtl-top-postphoto__more-link-wrap:after {
  display: block;
  overflow: hidden;
  content: '';
}

.rstdtl-top-postphoto__more-link-wrap:after {
  clear: both;
}

.rstdtl-top-postphoto__more-link {
  padding: 0;
  font-size: 1.3rem;
}

.rstdtl-top-postphoto__more-link.is-hidden {
  display: none;
}

.rstdtl-top-postphoto__more-link-target {
  display: inline-block;
  float: right;
}

.rstdtl-top-postphoto__more-link-target.is-hidden {
  display: none;
}

.rst-info .banner-40 {
  padding-top: 12px;
}

.rstdtl-top-course {
  margin: 2rem 0 3rem;
}

.rstdtl-top-course__heading {
  display: block;
  position: relative;
}

.rstdtl-top-course__hotpepper-logo {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
}

.rstdtl-top-course__heading-tax {
  position: absolute;
  right: 0;
  color: #949499;
  top: 3.2rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.rstdtl-top-course__footer {
  display: table;
  margin-top: 12px;
  width: 100%;
}

.rstdtl-top-course__tax-notice {
  display: table-cell;
  color: #949499;
  font-size: 1.1rem;
}

.rstdtl-top-course__more-link {
  display: table-cell;
  text-align: right;
}

.rstdtl-top-menu {
  margin: 2rem 0 3rem;
}

#column-main .box-contents--rstdtl-top-rvw {
  overflow: visible;
}

.myrvw {
  position: relative;
  z-index: 1;
  margin: 20px 0 8px;
}

.myrvw__title {
  display: block;
  margin-top: 4px;
  color: #ffa708;
  font-weight: bold;
  margin: 0.4rem 0 0.1rem;
}

.myrvw__rvwr-image {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.myrvw__rvwr-target {
  display: block;
  margin: 0 auto;
  border: solid 1px transparent;
  border-radius: 4px;
  width: 30px;
  height: 100%;
}

.myrvw__rvwr-target > img {
  display: block;
  border-radius: 4px;
}

.myrvw__rvwr-target:hover {
  border: solid 1px #ff9600;
}

.myrvw__rvwr-target:hover > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.myrvw__arealink {
  display: block;
  padding: 6px 10px 12px 51px;
  border: 1px solid #ffaa00;
  border-right: 2px solid #ffaa00;
  border-bottom: 2px solid #ffaa00;
  border-radius: 4px;
  font-size: 100%;
  vertical-align: middle;
}

.myrvw__arealink:hover {
  text-decoration: none;
}

.myrvw__count {
  position: absolute;
  bottom: 12px;
  left: 50px;
}

.myrvw__rvw-subject {
  display: inline-block;
  border-bottom: dotted 1px;
  overflow: hidden;
  color: #13131e;
  font-weight: bold;
  font-size: 117%;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.6;
}

.myrvw__arealink:hover .myrvw__rvw-subject {
  color: #ff9600;
  text-decoration: none;
}

.myrvw__subinfo {
  display: block;
  margin-top: 0.5rem;
  padding-left: 6rem;
}

.myrvw__subinfo-item {
  display: inline-block;
  color: #949499;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.myrvw__subinfo-item.myrvw__subinfo-item--date {
  vertical-align: -0.2rem;
}

.myrvw__subinfo-item.myrvw__subinfo-item--date .date {
  font-family: Arial;
}

.myrvw__subinfo-item.myrvw__subinfo-item--visit {
  vertical-align: -0.2rem;
}

.myrvw__subinfo-item img {
  margin-right: 5px;
}

.myrvw__edit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite-rvwr-vote {
  display: table;
  margin: 12px 0 8px;
}

.favorite-rvwr-vote__box {
  display: block;
  position: relative;
  padding: 11px;
  border: 2px solid #eeece4;
  border-radius: 1px;
  width: 634px;
  min-height: 30px;
  font-size: 100%;
  vertical-align: middle;
}

.favorite-rvwr-vote__box:hover {
  cursor: pointer;
}

.favorite-rvwr-vote__box:hover .favorite-rvwr-vote__img-dtl {
  opacity: 0.8;
}

.favorite-rvwr-vote__img {
  display: table-cell;
  float: left;
  max-width: 340px;
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
}

.favorite-rvwr-vote__img-dtl {
  display: block;
  float: left;
  margin-right: 4px;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.favorite-rvwr-vote__text {
  display: table-cell;
  padding: 8px 0 0 6px;
}

.before-rst-box {
  margin: 20px 0;
  padding: 10px 15px 7px 15px;
  border: solid 1px #d2d2d3;
  background: url('https://tblg.k-img.com/images/restaurant/bg/rstdtl_before_rst_bg.gif?1628138634') left bottom repeat-x;
}

.before-rst-box .before-rst-text {
  color: #81ac24;
  font-size: 86%;
}

.before-rst-box .rich-photo {
  display: block;
  float: left;
  margin-top: 5px;
  padding-bottom: 3px;
  width: 60px;
  height: 60px;
  background: url('https://tblg.k-img.com/images/restaurant/bg/photo_shadow50.gif?1628138634') no-repeat center bottom;
}

.before-rst-box .photoimg a {
  display: block;
  border: solid 1px #e1e1e1;
}

.before-rst-box .photoimg a:hover {
  border: solid 1px #ffaa00;
}

.before-rst-box .photoimg img {
  border: solid 4px #ffffff;
}

.before-rst-box .photoimg a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.before-rst-box .rst-info-box {
  padding: 3px 0;
}

.before-rst-box .rst-info-box.line {
  border-bottom: dotted 1px #d2d2d3;
}

.before-rst-box .info {
  float: left;
}

.before-rst-box .info .rst-name {
  padding: 12px 10px 4px 10px;
  border-bottom: solid 1px #e8e8e8;
  width: 548px;
  color: #595960;
  font-weight: bold;
  font-size: 117%;
}

.before-rst-box .info .rating {
  padding: 4px 10px 4px 6px;
}

.before-rst-box .info .rating p {
  float: left;
  line-height: 1.4;
  *line-height: 1.2;
}

.before-rst-box .info .rating p em {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
}

.before-rst-box .info .rating p.score-overall {
  margin-right: 4px;
  padding: 3px 3px 2px 4px;
}

.before-rst-box .info .rating .score-overall em {
  color: #ee0000;
  font-style: normal;
  font-weight: bold;
}

.before-rst-box .info .rating .score-overall span.star {
  display: block;
  float: left;
  margin-top: 1px;
  width: 88px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/restaurant/star/stars_m.gif?1628138635') no-repeat;
}

.before-rst-box .info .rating .score-overall span.star00 {
  background-image: none;
}

.before-rst-box .info .rating .score-overall span.star10 {
  background-position: 0 -16px;
}

.before-rst-box .info .rating .score-overall span.star15 {
  background-position: 0 -32px;
}

.before-rst-box .info .rating .score-overall span.star20 {
  background-position: 0 -48px;
}

.before-rst-box .info .rating .score-overall span.star25 {
  background-position: 0 -64px;
}

.before-rst-box .info .rating .score-overall span.star30 {
  background-position: 0 -80px;
}

.before-rst-box .info .rating .score-overall span.star35 {
  background-position: 0 -96px;
}

.before-rst-box .info .rating .score-overall span.star40 {
  background-position: 0 -112px;
}

.before-rst-box .info .rating .score-overall span.star45 {
  background-position: 0 -128px;
}

.before-rst-box .info .rating .score-overall span.star50 {
  background-position: 0 -144px;
}

.before-rst-box .info .rating .score-overall .score {
  display: block;
  float: left;
  padding-left: 5px;
  color: #e10000;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 129%;
}

.before-rst-box .info .rating p.score-dinner,
.before-rst-box .info .rating p.score-lunch {
  margin-right: 2px;
  padding: 4px 3px 2px 5px;
  line-height: 1;
}

.before-rst-box .info .rating p.score-dinner .subject,
.before-rst-box .info .rating p.score-lunch .subject {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;
}

.before-rst-box .info .rating p.score-dinner .subject {
  background-image: url('https://tblg.k-img.com/images/restaurant/icon/dinner_color.gif?1628138635');
}

.before-rst-box .info .rating p.score-lunch .subject {
  background-image: url('https://tblg.k-img.com/images/restaurant/icon/lunch_color.gif?1628138635');
}

.before-rst-box .info .rating p.score-dinner .score,
.before-rst-box .info .rating p.score-lunch .score {
  display: block;
  float: left;
  padding-top: 3px;
  padding-left: 3px;
  color: #3d3728;
  font-family: normal;
  font-weight: bold;
  font-size: 100%;
}

.before-rst-box .info .rating .review-count {
  padding: 3px 0 0 8px;
  font-size: 92%;
}

.before-rst-box .info .rating .review-count a {
  text-decoration: underline;
}

.before-rst-box .info .rating .review-count .num {
  font-style: normal;
  font-weight: bold;
  font-size: 117%;
}

.before-rst-box .info .rating .review-count .line {
  color: #929299;
  font-size: 117%;
}

.before-rst-box .info .rating .rate {
  font-size: 86%;
}

.before-rst-box .info .rating .rate .num {
  font-family: normal;
  font-weight: bold;
  font-size: 117%;
}

.change-nickname-entry__error-message,
.check-change-nickname__nickname-error {
  display: inline-block;
  margin: 8px 0 10px;
  padding-left: 16px;
  color: #e64c30;
  font-weight: bold;
  background: url('https://tblg.k-img.com/images/user2/icon/form_error_icon_02.png?1628138656') no-repeat 0 0.2em;
}

.check-change-nickname__candidates {
  margin: 0 0 12px;
}

.check-change-nickname__candidates span {
  display: block;
  margin-bottom: 8px;
}

.check-change-nickname__nickname-accept {
  margin: 8px 0 10px;
  padding-left: 16px;
  color: #82ad24;
  font-weight: bold;
  background: url('https://tblg.k-img.com/images/user2/icon/icon_accept_02.png?1628138656') no-repeat 0 0.2em;
}

.rstdtl-matome {
  /* border:1px solid #e9e9e9; */
  /* margin:2rem 0 3rem; */
}

.rstdtl-matome__heading {
  padding: 20px;
  color: #949499;
  font-size: 1.3rem;
}

.rstdtl-matome__list {
  margin-bottom: 20px;
}

.rstdtl-matome__box {
  padding: 0 20px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.rstdtl-matome__box:not(:last-child) {
  margin-bottom: 15px;
}

.rstdtl-matome__photo {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
}

.rstdtl-matome__photo > a {
  display: block;
  border: 1px solid #e1e1e1;
  width: 54px;
  height: 54px;
  background-color: #f4f4f4;
}

.rstdtl-matome__photo > a > img {
  border: 2px solid #fff;
}

.rstdtl-matome__photo > a:hover {
  border: 1px solid #ff9600;
}

.rstdtl-matome__photo > a:hover > img {
  opacity: 0.8;
}

.rstdtl-matome__text {
  padding: 2px 0;
  width: calc(100% - 60px - 10px);
}

.rstdtl-matome__text-title {
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.rstdtl-matome__text-desc {
  line-height: 1.3;
}

.rstdtl-matome__text-desc > span {
  padding-right: 3px;
}

.rstdtl-matome__text-desc > a {
  text-decoration: underline;
}

.rstdtl-matome-rvwr-info {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.rstdtl-matome-rvwr-info__image {
  padding: 0;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  align-self: flex-start;
}

.rstdtl-matome-rvwr-info__image > a {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1;
}

.rstdtl-matome-rvwr-info__image > a:hover {
  border: 1px solid #ff9600;
}

.rstdtl-matome-rvwr-info__image > a:hover > img {
  opacity: 0.8;
}

.rstdtl-matome-rvwr-info__name {
  padding: 0 0 0 5px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.rstdtl-matome-rvwr-info__name > a {
  color: #c66;
  font-weight: bold;
}

.rstdtl-recruit {
  display: table;
  margin: 20px 0;
  border: solid 3px #e0dccc;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  background-color: #fefae6;
}

.rstdtl-recruit__title {
  display: table-cell;
  width: 120px;
  height: 70px;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/restaurant/title/rstdtl_recruit.gif?1628138644') no-repeat left center;
}

.rstdtl-recruit__comment {
  display: table-cell;
  padding: 10px 10px 8px;
  vertical-align: middle;
  line-height: 1.6;
}

.rstdtl-offerjob {
  display: table;
  border: solid 3px #e0dccc;
  width: 100%;
  table-layout: fixed;
  background-color: #fefae6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2rem 0;
}

.rstdtl-offerjob__title {
  display: table-cell;
  color: #463f2d;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 10rem;
  padding: 1.2rem 0;
}

.rstdtl-offerjob__title:before {
  display: block;
  height: 1em;
  font-weight: normal;
  line-height: 1;
  font-size: 3rem;
}

.rstdtl-offerjob__lead {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.6;
  font-size: 1.3rem;
  padding: 1rem 1rem 0.8rem 0;
}

.rstdtl-offerjob__logo {
  display: inline-block;
  width: 88px;
  height: 16px;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/restaurant/logo/logo_kyujinbox.png?1628138635') no-repeat 0 0;
  margin-right: 0.3rem;
}

.rstdtl-top-rvwlst {
  margin: 2rem 0 3rem;
}

.rstdtl-top-rvwlst__list > li {
  display: block;
  margin: 15px 0;
}

.rstdtl-top-rvwlst__list > li:last-of-type {
  margin-bottom: 10px;
}

.rstdtl-top-rvwlst .reviewer-data {
  float: left;
  margin: 0;
  width: 70px;
  text-align: center;
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-photo {
  float: none;
  margin: 0 auto;
  padding-top: 2px;
  width: 30px;
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-name {
  padding-top: 4px;
  line-height: 1.1;
}

.rstdtl-top-rvwlst .reviewer-data .profile {
  display: block;
  margin-top: 8px;
  font-size: 86%;
}

.rstdtl-top-rvwlst .reviewer-data .profile .standard-score {
  display: block;
  font-size: 100%;
}

.rstdtl-top-rvwlst .reviewer-data .profile .standard {
  font-family: Arial;
  font-weight: bold;
  font-size: 150%;
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-name .count {
  font-size: 86%;
}

.reviewer-badge {
  display: block;
  width: 100%;
  text-align: center;
}

.reviewer-badge.reviewer-badge--celebrity {
  margin: 5px 0;
}

.reviewer-badge.reviewer-badge--rvwr-award {
  margin: 5px 0 2px;
}

.rstdtl-top-rvwlst .reviewer-data {
  position: relative;
  float: left;
  margin: 0;
  padding-right: 10px;
  width: 50px;
  text-align: center;
}

.reviewer-photo a {
  display: block;
  margin: 0 auto;
  border: solid 1px #ffffff;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
}

.reviewer-photo a img {
  display: block;
  border-radius: 4px;
}

.reviewer-photo a:hover {
  border: solid 1px #ffaa00;
}

.reviewer-photo a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-name {
  padding: 8px 0 0;
  line-height: 1.2;
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-name a {
  text-decoration: none;
}

.rstdtl-top-rvwlst .reviewer-data .reviewer-name .count {
  font-size: 86%;
}

.rstdtl-top-rvwlst .reviewer-data .mark-auth-mobile {
  padding-top: 3px;
  text-align: center;
}

.rstdtl-top-rvwlst .reviewer-data .mark-auth-mobile a {
  display: block;
  margin: 0 auto;
  width: 46px;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('https://tblg.k-img.com/images/icon/icon_auth_mobile.gif?1628138634') no-repeat 0 0;
}

.rstdtl-top-rvwlst .reviewer-data .mark-auth-mobile a:hover {
  background-position: 0 -14px;
}

.rstdtl-top-rvwlst .pickup #title-pickup {
  display: none;
}

.reviewer-data__rvwr-balloon {
  position: absolute;
  z-index: 3;
  min-width: 17.5em;
  text-align: left;
  padding: 5px 10px;
  margin-top: 5px;
  left: 4px;
}

.reviewer-data__rvwr-balloon > p {
  line-height: 1.6;
}

.reviewer-data__rvwr-balloon:before {
  right: 0;
  left: 14px;
}

.reviewer-data__rvwr-balloon:after {
  right: 0;
  left: 15px;
}

.reviewer-data:hover .reviewer-data__rvwr-balloon {
  display: block;
}

.reviewer-data__rvwr-balloon-dtl {
  position: relative;
  margin-right: 10px;
}

.reviewer-data__rvwr-balloon-dtl:after {
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  color: #d2d2d2;
  content: '|';
}

.rstdtl-rvw {
  position: relative;
  z-index: 1;
  float: right;
  padding: 10px;
  border: 1px solid #e0dccc;
  border-radius: 5px;
  width: 570px;
  overflow: visible;
  background-color: #fff;
  background-image: none;
}

.rstdtl-rvw::before,
.rstdtl-rvw::after {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
}

.rstdtl-rvw::before {
  top: 11px;
  left: -7px;
  border-top: 7px solid transparent;
  border-right: 7px solid #e0dccc;
  border-bottom: 7px solid transparent;
}

.rstdtl-rvw::after {
  top: 12px;
  left: -6px;
  border-top: 6px solid transparent;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
}

.rstdtl-rvw.rstdtl-rvw--pickup {
  border-color: #fae486;
  background-color: #fefae6;
  background-image: none;
}

.rstdtl-rvw.rstdtl-rvw--pickup::after {
  border-right-color: #fefae6;
}

.rstdtl-rvw.is-selected {
  cursor: pointer;
}

.rstdtl-rvw__title {
  overflow: hidden;
  font-style: normal;
  font-weight: bold;
  font-size: 117%;
  vertical-align: middle;
  line-height: 1.4;
}

.rstdtl-rvw__title a {
  display: block;
  margin-bottom: 2px;
  padding: 3px 5px;
  width: 100%;
  box-sizing: border-box;
  color: #13131e;
  text-decoration: none;
  line-height: 1.7;
}

.rstdtl-rvw__title a:hover {
  color: #ff9600;
  background-color: transparent;
}

.rstdtl-rvw__title strong {
  border-bottom: dotted 1px #13131e;
  text-shadow: 0 1px 0 #ffffff;
}

.rstdtl-rvw.is-selected .rstdtl-rvw__title strong,
.rstdtl-rvw__title a:hover strong {
  border-bottom: dotted 1px #ff9600;
}

.rstdtl-rvw.is-rvw-notitle .rstdtl-rvw__title {
  display: none;
}

.rstdtl-rvw.is-selected .rstdtl-rvw__title a {
  color: #ff9600;
  background-color: transparent;
}

.rstdtl-rvw__comment {
  padding: 0 5px;
  width: 560px;
  line-height: 1.5;
}

.rstdtl-rvw__rvw--setphoto > .rstdtl-rvw__comment {
  float: left;
  width: 500px;
}

.rstdtl-rvw__rvw-more {
  text-decoration: underline;
}

.rstdtl-rvw.is-selected .rstdtl-rvw__rvw-more {
  color: #ff9600;
}

.rstdtl-rvw__rvw--setphoto > .rstdtl-rvw__photo {
  float: right;
  margin-top: 2px;
  padding-right: 5px;
}

.rstdtl-rvw__rvw--setphoto > .rstdtl-rvw__photo a {
  display: block;
  border: solid 1px #ffffff;
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
}

.rstdtl-rvw.is-selected .rstdtl-rvw__photo a {
  border: solid 1px #ffaa00;
}

.rstdtl-rvw.is-selected .rstdtl-rvw__photo a img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.rstdtl-rvw__dtl {
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.rstdtl-rvw__dtl-date,
.rstdtl-rvw__dtl-rating,
.rstdtl-rvw__visit-count {
  display: inline-block;
  color: #9b9ba0;
  vertical-align: top;
  line-height: 1.1;
  margin-right: 1rem;
  font-size: 1rem;
}

.rstdtl-rvw__dtl-date {
  padding-top: 0.4rem;
}

.rstdtl-rvw__dtl-rating--lunch,
.rstdtl-rvw__dtl-rating--dinner,
.rstdtl-rvw__dtl-rating--takeout,
.rstdtl-rvw__dtl-rating--delivery,
.rstdtl-rvw__dtl-rating--order {
  margin-right: 0;
}

.rstdtl-rvw__dtl-rating {
  padding-top: 0.3rem;
}

.rstdtl-rvw__dtl-rating img {
  margin-right: 5px;
}

.rstdtl-rvw__dtl-like-count {
  display: inline-block;
  margin-right: 1.5rem;
}

.rstdtl-rvw__dtl-like-count .like-count__count {
  padding-left: 0;
}

.rstdtl-rvw__dtl-like-count .like-count__count::before {
  font-size: 1.7rem;
}

.rstdtl-rvw__visit-count {
  margin-top: 0.4rem;
}

.rstdtl-top-rvwlst__more-link {
  margin: 10px 0;
  text-align: right;
}

.rstdtl-rvw-c-rating-v2__time {
  position: relative;
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  font-size: 1.1rem;
  overflow: hidden;
}

.rstdtl-rvw-c-rating-v2__time::before {
  position: absolute;
  top: 1px;
  width: 12px;
  background: #ffffff;
}

.rstdtl-rvw-c-rating-v2__time_dinner {
  color: #336aa2;
}

.rstdtl-rvw-c-rating-v2__time_lunch {
  color: #cc8131;
}

.rstdtl-rvw-c-rating-v2__star {
  font-size: 1.26rem;
}

.rvw-notification {
  text-align: center;
}

.rvw-notification__text,
.rvw-notification__btn-wrap {
  display: inline-block;
}

.rvw-notification:before {
  display: inline-block;
  margin-right: 0.3em;
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  content: '';
}

.rvw-notification__btn.is-on {
  padding: 4px 0 4px 12px;
  border: 1px solid #eeece4;
  border-top: solid 1px #e0dccc;
  border-left: solid 1px #e0dccc;
  box-shadow: none;
  color: #13131e;
  background-color: #eeece4;
  background-image: none;
}

.rvw-notification__btn.is-on:hover {
  color: #171717;
  background: #f1f0ec;
}

.rvw-notification__btn.is-on:before,
.rvw-notification__btn.is-off:before {
  display: inline-block;
  position: relative;
  top: 3px;
  right: 4px;
  margin-top: -8px;
  border: 2px solid #c1c4c5;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  background-color: #ffffff;
}

.rvw-notification__btn.is-on:after {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 94px;
  border-bottom: 3px solid #a4cc3d;
  border-left: 3px solid #a4cc3d;
  width: 12px;
  height: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rvw-notification__btn.is-off {
  padding: 4px 12px 4px 12px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 1px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #13131e;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
  background-image: linear-gradient(to bottom, #fff, #f4f4f4);
}

.rvw-notification__btn.is-off:hover {
  color: #595960;
  background: #ffffff;
}

.rstdtl-movie-contents {
  position: relative;
  margin: 9px 0 30px -8px;
  width: 675px;
  height: 382px;
}

@media all and (-ms-high-contrast: none) {
  .rstdtl-movie-contents {
    margin-top: 13px;
  }
}

@-moz-document url-prefix() {
  .rstdtl-movie-contents {
    margin-top: 12px;
  }
}

.fb-banner-nophoto {
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
